*{
    font-family: 'Delius', cursive;
    font-size: 1.1rem;
    margin: 0px;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar-dates {
    background-color: #011638;
    overflow: hidden;
    position: fixed;
    bottom: 15vh;
    left: 0;
    width: 100%;
    padding: 3vh 0vh;
  }
  
  /* Style the links inside the navigation bar */
  .navbar-dates a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    width: 14%;
  }
  
  /* Add a color to the active/current link */
.navbar-dates a.active {
    color: #f18282;
  }
.info{
  display: none;
}
.films{ 
  margin-bottom: 24vh;
  top: 0;}
.section{
  width: 100%;
  margin: 0px;
  
  .container{
    width: 100%;
    display: grid;
    margin: 2vw;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'poster title'
                        'poster description'
                        'poster rating';
    .poster{
      grid-area: poster;
      width: 50vw;
            
    }
    
      
      .title{
        margin: 2vw;
        grid-area: title;
      }
      .description{
        margin: 2vw;
        grid-area: description;
      }
      .rating{
        margin: 2vw;
      }
    
  }
  .times{
    display: flex;
    width: 100%;
    background-color: #011638;
    padding: 2vh 0vh;
    p{
      width: 20%;
      text-align: center;
      color: #f2f2f2;
    }
  }
}  
.link{
  text-decoration: none;
  color: black;
}