*{
    font-family: 'Delius', cursive;
    font-size: 1.1rem;
    margin: 0px;
}
body{
    background-color: #4392f1;
    
        #logimg{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10vh;
        }
        #login-email{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
            background-color: #4392f1;
            color: black;
            border: none;
            border-bottom: 2px solid black;
        }
        #login-password{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
            background-color: #4392f1;
            color: black;
            border: none;
            border-bottom: 2px solid black;
        }
        #Login{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
            background-color: #0a0903;
            color: #eef0f2;
            padding: 3vw 10vw;
            border: none;
        }
        #signup{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
            background-color: #f18282;
            color: #0a0903;
            padding: 3vw 10vw;
            border: none;
            text-decoration: none;
        }
        #email{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
            background-color: #4392f1;
            color: black;
            border: none;
            border-bottom: 2px solid black;
        }
        #password{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
            background-color: #4392f1;
            color: black;
            border: none;
            border-bottom: 2px solid black;
        }
    
}
